<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('需要硅灰石联系') %> <a href="http://www.yuanlinquan.com/" target="_blank">硅灰石厂家</a>
    </div>
  </div>
</footer>
